# Игнорировать все файлы с расширением .log
*.log

# Игнорировать все файлы с расширением .tmp
*.tmp

# Игнорировать директорию node_modules
node_modules/

# Игнорировать директорию build
build/

# Игнорировать все файлы .env
.env

# Игнорировать все файлы и директории, начинающиеся с .idea
.idea/

# Игнорировать все файлы и директории, начинающиеся с .vscode
.vscode/
